{{#contentFor "pageStyles"}}
  <link rel='stylesheet' href="/stylesheets/chesshub.css" />
  <link rel='stylesheet' href="/stylesheets/chessboard-0.3.0.min.css" />
  <link rel='stylesheet' href="/stylesheets/messenger.css" />
  <link rel='stylesheet' href="/stylesheets/messenger-spinner.css" />
  <link rel='stylesheet' href="/stylesheets/messenger-theme-future.css" />
  <link rel="stylesheet" href="/stylesheets/isotope.css">
{{/contentFor}}

<!-- Header - Fixed menu -->
<header>
    <div class="container">
        <nav class="navbar navbar-custom navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/board-game"><img src="images/logo.png" alt="" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav navigation">
                        <li><a href="/board-game">Dashboard</a></li>
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        {{#if user}}
                            <li class="{{#if isAccountPage}} active {{/if}}"><a href="/account" title="My account"><span id="loggedUser" data-user="{{ user.name }}"></span><i class="fa fa-user"></i> {{ user.name }}</a></li>
                            <li><a href="/logout" class="btn btn-danger top-login">Log Out</a></li>
                        {{else}}
                            <li><a href="/login" class="btn btn-danger top-login">Log in</a>
                        {{/if}}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
</header>

<!-- Top wrap - Slider -->
<div class="slider-wrap home-login-img" id="1">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="board">
                <div class="space60"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="level">
                            <div class="check">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/0/two-rooks-and-a-king"><div id="cc1" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Two Rooks And a King
                            </p>
                            <p class="text-center">
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/1/queen-and-king"><div id="cc2" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Queen and King</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/2/two-bishops-and-king"><div id="cc3" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Two Bishops and King</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="space60"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="level">
                            <div class="check">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/3/rook-and-king"><div id="cc4" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Rook and King</p>
                            <p class="text-center">
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/4/bishop-knight-and-king"><div id="cc5" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Bishop, Knight and King</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/5/queen-and-king-vs-rook-and-king"><div id="cc6" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Queen and King vs. rook and King</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="space60"></div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/6/all-vs-pawns"><div id="cc7" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">All vs Pawns</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/7/rook-mate-3"><div id="cc8" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Rook Mate 3</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="level">
                            <div class="lock">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="row">
                                <a href="/play-checkmate-challenge/8/queen-and-rook-mate-4"><div id="cc9" style="width: 200px" class="center"></div></a>
                            </div>
                            <p class="text-center">Queen and Rook Mate 4</p>
                            <p class="text-center">
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                                <i class="fa fa-square-o pro"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#contentFor "pageScripts"}}
<!-- JavaScript -->
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.localscroll-1.2.7-min.js"></script>
<script src="/javascripts/jquery.scrollTo.js"></script>
<script src="/javascripts/jquery.nav.js"></script>
<script type="text/javascript" src="/javascripts/chessboard-0.3.0.min.js"></script>
<script type="text/javascript" src="/javascripts/chess.min.js"></script>
<script type="text/javascript" src="/javascripts/lodash.min.js"></script>
<script type="text/javascript" src="/javascripts/moment.min.js"></script>
<script type="text/javascript" src="/javascripts/messenger.min.js"></script>
<script type="text/javascript" src="/javascripts/messenger-theme-future.js"></script>
<script type="text/javascript" src="/javascripts/chesshub.js"></script>
<script type="text/javascript" src="/javascripts/highcharts.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var fen_all =  ['4k3/8/8/8/8/8/8/R3K2R w - - 0 1','4k3/8/8/8/8/8/8/3QK3 w - - 0 1','4k3/8/8/8/8/8/8/2B1KB2 w - - 0 1',
                        '4k3/8/8/8/8/8/8/R3K3 w - - 0 1','4k3/8/8/8/8/8/8/4KBN1 w - - 0 1','4k2r/8/8/8/8/8/8/3QK3 w - - 0 1',
                        '4k3/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w - - 0 1','K7/8/8/4k3/8/8/8/7R w - - 0 1','8/3pkp2/4p3/8/8/8/8/4K1RQ w - - 0 1']
        var fen   = null
        var cc    = null
        var board = null
        var init1 = function() {
                var fen = fen_all[0]
                var cc = 'cc1';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init1);
        var init2 = function() {
                var fen = fen_all[1]
                var cc = 'cc2';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init2);
        var init3 = function() {
                var fen = fen_all[2]
                var cc = 'cc3';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init3);
        var init4 = function() {
                var fen = fen_all[3]
                var cc = 'cc4';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init4);
        var init5 = function() {
                var fen = fen_all[4]
                var cc = 'cc5';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init5);
        var init6 = function() {
                var fen = fen_all[5]
                var cc = 'cc6';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init6);
        var init7 = function() {
                var fen = fen_all[6]
                var cc = 'cc7';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init7);
        var init8 = function() {
                var fen = fen_all[7]
                var cc = 'cc8';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init8);
        var init9 = function() {
                var fen = fen_all[8]
                var cc = 'cc9';
                var board = new ChessBoard(cc, fen);
            };
            $(document).ready(init9);
    });

</script>

{{/contentFor}}
