{{#contentFor "pageStyles"}}
  <link rel='stylesheet' href="/stylesheets/owl.carousel.css" />
  <link rel='stylesheet' href="/stylesheets/owl.theme.css" />
  <link rel='stylesheet' href="/stylesheets/owl.transitions.css" />
  <link rel="stylesheet" href="/stylesheets/isotope.css">
{{/contentFor}}

<header>
    <div class="container">
        <nav class="navbar navbar-custom navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logo.png" alt="" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav navigation">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/why-first-move">Why first move?</a>
                        </li>
                        <li>
                            <a href="/kids-zone">Kids Zone</a>
                        </li>
                        <li class="active">
                            <a href="/chess-news" class="active-top">Chess news</a>
                        </li>
                        <li class="">
                            <a href="/donate">Donate</a>
                        </li>
                        {{#if user}}
                            <li class="{{#if isAccountPage}} active {{/if}}"><a href="/account" title="My account"><span id="loggedUser" data-user="{{ user.name }}"></span><i class="fa fa-user"></i> {{ user.name }}</a></li>
                            <li><a href="/logout" class="btn btn-danger top-login">Log Out</a></li>
                        {{else}}
                            <li><a href="/login" class="btn btn-danger top-login">Log in</a>
                        {{/if}}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
</header>
<div class="body">
    <div class="space40"></div>
    <section class="page-wrap">
        <div class="container">
            <div class="col-md-9">
                <div class="page-header">
                    <h3 class="section-title">Chess news</h3>
                    <div class="sep"></div>
                </div>
                <article>
                    <div class="date">25 June</div>
                    <div class="post-meta">
                        By:<a href="#">John Henderson</a>
                    </div>
                    <h3><a href="">GETTING HAMMER-ED</a></h3>
                    <p>We received sad news late yesterday evening from Anthony Saidy that six-time US champion Walter Shawn Browne had died suddenly in his sleep while staying with a friend in Las Vegas after playing in the National Open. He was 66. Walter also won major international events at Wijk aan Zee (twice), Lone Pine, and five […]</p>
                    <a>Read More.</a>
                    <div class="tags">
                    </div>
                </article>
                <article>
                    <div class="date">24 June</div>
                    <div class="post-meta">
                        By:<a href="#">John Henderson</a>
                    </div>
                    <h3><a href="">THE COMEBACK KID</a></h3>
                    <p>Former world champions tend to become the forgotten figures of chess. But Vishy Anand of India bucks that trend. After he was dethroned by Magnus Carlsen in 2013, he was largely written off, with speculation rife that – like his old foe Garry Kasparov – he would soon be announcing his retirement rather than be […]</p>
                    <a>Read More.</a>
                    <div class="tags">
                    </div>
                </article>
                <article>
                    <div class="date">23 June</div>
                    <div class="post-meta">
                        By:<a href="#">John Henderson</a>
                    </div>
                    <h3><a href="">DRAWING TO A CLOSE</a></h3>
                    <p>Denmark’s Bent Larsen (1935-2010) was often described as “the ultimate chess battler,” always interested in wins and first places. He played with enormous energy and great fighting spirit. Offering him a draw was a waste of time, as many grandmasters would testify to. He would decline it politely, but firmly. “No, thank you,” he would say […]</p>
                    <a>Read More.</a>
                    <div class="tags">
                    </div>
                </article>
                <article>
                    <div class="date">22 June</div>
                    <div class="post-meta">
                        By:<a href="#">John Henderson</a>
                    </div>
                    <h3><a href="">NO COUNTRY FOR YOUNG MEN</a></h3>
                    <p>With the rise of Magnus Carlsen, we were told the future for chess would be a young man’s game. And sure enough, roughly in the same age bracket, rising alongside the World champion was Fabiano Caruana, Hikaru Nakamura, Anish Giri, Wesley So, Maxime Vachier-Lagrave and Sergey Karjakin. We were informed by the pundits that veterans, […]</p>
                    <a>Read More.</a>
                    <div class="tags">
                    </div>
                </article>
                <ul class="page-navigation">
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                </ul>
            </div>
            <aside class="col-md-3">
                <div class="side-widget">
                    <h5>FEATURED POSTS</h5>
                    <ul>
                        <li>
                            <h4><a href="#">PUPILS WILL LEARN CHESS AS TOOL FOR FOCUS</a></h4>
                            <p>
                                Houston Chronicle Spring ISD Sept 12, 2007 By Bill Breslin Chronicle Correspondent Spring school
                            </p>
                            <a href="#">Read More.</a>
                        </li>
                        <li>
                            <h4><a href="#">MORE SCHOOLS LEARN POWER OF CHECKMATE</a></h4>
                            <p>
                                Chicago Tribune Chess programs help pupils with discipline, memory, math skills By Dylan Loeb
                            </p>
                            <a href="#">Read More.</a>
                        </li>
                        <li>
                            <h4><a href="#">ALEXANDER ENTERS GRANDEST SPORTS STAGE</a></h4>
                            <p>
                                NFL MVP Shawn Alexander Leaves Seattle Cocoon, Enters America’s Grandest Sports Stage By GREGG
                            </p>
                            <a href="#">Read More.</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </section>

    <!-- Footer - Social -->
    <section class="social-footer">
        <div class="container">
            <ul class="social">
                <li>
                    <a href="help.html">
                        <span>Help</span>
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Footer - Social -->
</div>

{{#contentFor "pageScripts"}}
<!-- JavaScript -->
<script src="javascripts/jquery-2.1.4.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.localscroll-1.2.7-min.js"></script>
<script src="javascripts/jquery.scrollTo.js"></script>
<script src="javascripts/jquery.nav.js"></script>
{{/contentFor}}
