{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/stylesheets/chessboard-0.3.0.min.css"> {{/contentFor}}
<!-- Header - Fixed menu -->
<header>
    <div class="container">
        <nav class="navbar navbar-custom navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/board-game"><img src="/images/logo.png" alt="" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav navigation">
                        <li><a href="/board-game">Dashboard</a>
                        </li>
                        <li><a id='new_game' href="#">New Game</a>
                        </li>
                        <li><a id='btn_load_setting' href="#">Game Settings</a>
                        </li>
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        {{#if user}}
                        <li class="{{#if isAccountPage}} active {{/if}}"><a href="/account" title="My account"><span id="loggedUser" data-user="{{ user.name }}"></span><i class="fa fa-user"></i> {{ user.name }}</a>
                        </li>
                        <li><a href="/logout" class="btn btn-danger top-login">Log Out</a>
                        </li>
                        {{else}}
                        <li><a href="/login" class="btn btn-danger top-login">Log in</a> {{/if}}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
</header>

<!-- Top wrap - Slider -->
<div class="slider-wrap home-login-img" id="1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="space40"></div>
                <div style="text-align:center;">
                    <div class="main-text">
                        <h3>{{ room_number }}</h3>
                    </div>
                    <div class="space40"></div>
                    <div class="panel panel-info" style="padding: 40px 15px; text-align: center">
                        <div class="row">
                            <div class="col-xs-3">
                                <img src="images/Quintessa.jpg" class="img-responsive" style="margin: 0px auto;">
                                <h3><img src="images/chesspieces/wikipedia/wK.png" style="height: 40px;"> Player1</h3>
                                <div class="space30"></div>
                                <h1>15:00</h1>
                                <br>
                                <a href="" class="btn btn-info btn-block">Turn</a>
                                <a href="" class="btn btn-warning btn-block">Resign</a>
                            </div>
                            <div class="col-xs-6">
                                <div id="board1" style="width: 100%;"></div>
                            </div>
                            <div class="col-xs-3">
                                <img src="images/Kelvin.jpg" class="img-responsive" style="margin: 0px auto;">
                                <h3><img src="images/chesspieces/wikipedia/bK.png" style="height: 40px;"> Player2</h3>
                                <div class="space30"></div>
                                <h1>15:00</h1>
                                <br>
                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{#contentFor "pageScripts"}}
    <!-- JavaScript -->

    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src='/javascripts/girdle.js'></script>
    <script type="text/javascript" src='/javascripts/font_fit.js'></script>

    <script type="text/javascript" src='/javascripts/chessboard-0.3.0.min.js'></script>


    <script>
        var board1 = ChessBoard('board1', 'start');
    </script>
    {{/contentFor}}