<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="First Move Chess" />
    <meta name="description" content="First Move Chess">
    <meta name="author" content="">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">

    <!-- Google Webfonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href="/stylesheets/font-awesome.min.css" />
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/colors/pink-black.css" title="pink" media="screen" />
    {{{block "pageStyles"}}}

</head>
<body>

{{{body}}}

{{{block "pageScripts"}}}

</body>
</html>
